### 練習問題7-1

In [1]:
import pandas as pd
df = pd.read_csv('ex4.csv')
df.head(3)

   class  dept_id  sex      score
0      3        0    1  60.170169
1      3        5    1  86.610078
2      2        6    1  69.761279

### 練習問題7-2

In [2]:
df['sex'].mean()

0.5133333333333333

### 練習問題7-3

In [3]:
df.groupby('class')['score'].mean()

class
0    68.850195
1    69.510764
2    71.611092
3    67.572909
4    68.814253
Name: score, dtype: float64

### 練習問題7-4

In [4]:
pd.pivot_table(df, index = 'class', columns = 'sex', values = 'score')

sex            0          1
class
0      68.358569  69.274011
1      67.472218  71.379432
2      71.704884  71.532109
3      63.897676  72.013815
4      69.952314  67.676191

ア：3　イ：男性

### 練習問題7-5

In [5]:
dept = pd.get_dummies(df['dept_id'], drop_first = True, dtype = int)
df2 = pd.concat([df,dept], axis = 1)
df2 = df2.drop('dept_id', axis = 1)

### 練習問題7-6

B