### 練習4-1

In [31]:
import pandas as pd

In [32]:
data = {'データベースの試験得点':[70,72,75,80],'ネットワークの試験得点':[80,85,79,92]}

In [33]:
df = pd.DataFrame(data)

In [34]:
df

   データベースの試験得点  ネットワークの試験得点
0           70           80
1           72           85
2           75           79
3           80           92

### 練習4-2

In [35]:
df.index = ['一郎','次郎','三郎','太郎']

In [36]:
df

    データベースの試験得点  ネットワークの試験得点
一郎           70           80
次郎           72           85
三郎           75           79
太郎           80           92

### 練習4-3

In [37]:
df2 = pd.read_csv('ex1.csv')

In [38]:
df2

          x0        x1        x2        x3  target
0   4.831144  4.695477  5.082239  4.501977       0
1   1.460716  1.216714  7.632439  2.359443       0
2   4.011018  4.515939  5.935904  5.981296       1
3   5.982382  4.965863  3.890340  2.480491       0
4   5.439188  5.911560  4.827872  6.653825       1
..       ...       ...       ...       ...     ...
95  4.343917  5.549315  5.925124  8.262054       1
96  5.612101  5.065338  4.338867  3.689948       0
97  3.375022  4.196423  6.534891  6.587676       1
98  4.069721  4.556587  5.884516  5.958792       1
99  4.079704  3.939691  5.657731  4.083713       0

[100 rows x 5 columns]

### 練習4-4

In [39]:
print(df2.index)

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64')

### 練習4-5

In [40]:
print(df2.columns)

Index(['x0', 'x1', 'x2', 'x3', 'target'], dtype='object')

### 練習4-6

In [41]:
col = ['x0','x2']

In [44]:
df2[col]

          x0        x2
0   4.831144  5.082239
1   1.460716  7.632439
2   4.011018  5.935904
3   5.982382  3.890340
4   5.439188  4.827872
..       ...       ...
95  4.343917  5.925124
96  5.612101  4.338867
97  3.375022  6.534891
98  4.069721  5.884516
99  4.079704  5.657731

[100 rows x 2 columns]